hr {
    margin: 10px 0px 20px;
    opacity: 0.1;
    background-color: #181d20;
}

ul {
    letter-spacing: 5px;
    list-style-type: none;
    max-width: 1124px;
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
    color: #011728;


    li {
        float: left;
    }
    .right {
        float: right;
        padding-left: 40px;
    }
    li a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #011728;
    }
    li:hover {
        opacity: .5;
        
    }
}