.container {
    position: fixed;
    height: 70px;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    margin-top: -10px;
    .divider {
        position: fixed;
        margin-top: -6px;
        margin-left: -10px;
        opacity: 0.4;
        background-color: hsl(200, 7%, 8%);
        width: 100%;
        z-index: 1;
    }
    ul {
        position: relative;
        font-family: 'bebas-neue-by-fontfabric';
        letter-spacing: 5px;
        list-style-type: none;
        max-width: 1124px;
        margin: 20px auto;
        padding: 0;
        overflow: hidden;
        color: #011728;
        li {
            float: left;
        }
        .right {
            float: right;
            padding-left: 40px;
        }
        li a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #011728;
        }
        li:hover {
            opacity: .5;
            
        }
    }
}
