<head><style>
  @import url("https://use.typekit.net/tiv2ytf.css");
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118035245-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118035245-1');
</script>


</head>

<div class = "footer">
	<div class="container">
	
	    <div>danzhuu@gmail.com <span [style.color] = "'#687680'"> »  <a href="https://www.linkedin.com/in/danzhuu/" target="_blank">Linkedin</a> • <a href ="https://www.instagram.com/dniel.zhu/" target="_blank">Instagram</a></span></div>
	    <br>
	    <div>Portfolio by Daniel Zhu, 2018</div>
	    <div [style.color] = "'#687680'">Developed in collaboration with <a href="https://www.linkedin.com/in/karen-qian-92801a80" target="_blank"><span [style.color] = "'#AE2D7A'">Karen Qian</span></a></div>

	</div>
</div>