body {
    max-width: 1124px;
    height: 100%;

    
}
.header {
    max-width: 1124px;
    margin: 200px auto 100px auto;
    line-height: 51px;

    font-size: 60px;
    color: #011728;
    letter-spacing: 1.5px;

    .dark-blue {
        color: #0d74af;
    }
}
hr {
    margin: 30px -20px 20px;
    opacity: 0.1;
    background-color: #181d20;
}

ul {
    max-width: 1124px;
    list-style-type: none;
    margin: 0% auto 0% auto;
    padding: 0;
    overflow: hidden;

    font-family: 'Bebas Neue';
    font-size: 22px;
    font-weight: Regular;
    letter-spacing: 5px;
    color: #011728;
    li {
        float: left;
    }
    li a {
        display: block;
        color: #011728;
        text-align: center;
        padding-left: 0;
        padding-right: 60px;
        text-decoration: none;
        opacity: 1;
    }
    li:hover {
        opacity: 0.5;
        cursor: pointer;
        
    }
}
.page {
    .cardlist {


        max-width: 1124px;
        margin-right: auto;
        margin-left: auto;
        color: #fff;


        .card {
            cursor: pointer;
            float: left;
            width: 260px;
            margin: 0 20px 20px 0;
            padding: 20px;
            height: 450px;
            position: relative;
            display: block;
            background-size: 100%;


            @media only screen and (max-width: 500px) and (min-width: 300px) {

            height: 350px;
            margin: 0 auto 10px auto;
            width: 290px;


            }

            .logo {
                width: auto;
                height:38px;
                margin-top: 7%;
            }


            .title {
                font-weight: light;
                font-size: 30px;
                letter-spacing: 1.5px;
                height: 70px;
            }
            
            .description {
                font-family: 'Noto Sans', sans-serif;
                font-weight: Regular;
                line-height: 20px;
                font-size: 14px;

            }
            .description2 {
                font-family: 'Noto Sans', sans-serif;
                line-height: normal;
                letter-spacing: normal;
                font-size: 16px;
                margin-top: 2px;
                font-weight: 300;
            }
            .category {
                font-family: 'Noto Sans', sans-serif;
                line-height: 1.43;
                letter-spacing: normal;
                position: absolute;
                bottom: 0;
                padding-bottom: 1.5em;
                font-size: .85em;
                line-height: 1.43;
                font-weight: 100;
            }    
        }
    }
}





