body {
    max-width: 950px;
    height: 100%;

    
}
.header {
    max-width: 950px;
    margin: 200px auto 30px auto;
    line-height: 60px;

    font-size: 60px;
    font-weight: 300;
    color: #273B49;
    letter-spacing: 1.5px;


    .name {
        color: #011728;
        font-weight: 400;
    }

    .dark-blue {
        color: #0d74af;
    }

}
hr {
    margin: 20px 0px 20px;
    opacity: 0.1;
    background-color: #181d20;
}

ul {
    max-width: 950px;
    list-style-type: none;
    margin: 0% auto 0% auto;
    padding: 0;
    overflow: hidden;

    font-family: 'Bebas Neue';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #687680;
    li {
        float: left;
    }
    li a {
        display: block;
        color: #687680;
        text-align: center;
        padding-left: 0;
        padding-right: 60px;
        text-decoration: none;
        opacity: 1;
    }
    li:hover {
        font-weight: 600;
        opacity: 1;
        
    }
}
.page {
    .cardlist {


        max-width: 950px;
        margin-right: auto;
        margin-left: auto;
        color: #fff;
        padding-top: 20px;



        .card {
            cursor: pointer;
            float: left;
            width: 260px;
            margin: 10px 10px 0px 0px;
            padding: 20px;
            height: 450px;
            position: relative;
            display: block;
            background-size: 100%;


            @media only screen and (max-width: 500px) and (min-width: 300px) {

            height: 350px;
            margin: 0 auto 10px auto;
            width: 290px;


            }

            .logo {
                width: auto;
                height:38px;
                margin-top: 7%;
            }


            .title {
                font-weight: 200;
                font-size: 30px;
                letter-spacing: 1.8px;
                height: 70px;
            }
            
            .description {
                padding-top: 20px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                line-height: 20px;
                font-size: 15px;
                letter-spacing: .2px;

            }
            .description2 {
                font-family: 'Open Sans', sans-serif;
                line-height: normal;
                letter-spacing: normal;
                font-size: 16px;
                margin-top: 2px;
                font-weight: 300;

            }
            .category {
                font-family: 'Open Sans', sans-serif;
                line-height: 1.43;
                letter-spacing: normal;
                position: absolute;
                bottom: 0;
                padding-bottom: 1.5em;
                font-size: 15px;
                line-height: 1.43;
                font-weight: 100;
            }    
        }
    }
}





