<head><style>
  @import url("https://use.typekit.net/tiv2ytf.css");
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118035245-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118035245-1');
</script>


</head>

<h1 class = "header">
  <span class="name">Dan Zhu</span> <br> is a 
  product designer <br> for
  <span class="dark-blue">Capital One</span>
</h1>

<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7J4H8K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript></body>

<hr>
<ul>
  <li><a routerLink="/about">About</a></li>
  <li><a href="/assets/Resume.pdf" target="_blank">Résumé</a></li>
  
</ul>
<hr>
<div class = "page">
  <div class = "cardlist">
    <div class = "card" *ngFor = "let card of cards" [style.background-image]="'url('+card.bg+')'" (click)="onClick(card)">
      <img *ngIf="card.logo" class = "logo" [src] ="card.logo">
      <h2 class = "title">
        <span *ngIf="card.id==1" [style.color]="'#'+card.highlight">Designing</span> 
        {{card.fronttitle}}
        <span *ngIf="card.id==2" [style.color]="'#'+card.highlight">Designing</span>
       
        <span *ngIf="card.id==3" [style.color]="'#'+card.highlight">Designing</span>
        {{card.fronttitle2}}
      </h2>
      <p *ngIf="card.frontdescription" class = "description">{{card.frontdescription}}</p>
      <p class = "description2">{{card.frontschooldescription}}</p>
      <p class = "category">{{card.category1}} <br> {{card.category2}}</p>
    </div>
  </div>
</div>
<footer></footer> 


