body {
    max-width: 950px;
    height: 100%;



    @media only screen and (max-width: 414px) and (min-width: 300px) {

            
            margin: auto;
            max-width: 100%;
            max-height: 450px;
            padding-left: 20px;
            }
    
}


.header {
    max-width: 950px;
    margin: 200px auto 30px auto;
    font-family: 'bebas-neue-by-fontfabric';
    font-size: 60px;
    line-height: 60px;    
    font-weight: 300;
    color: #273B49;
    letter-spacing: 1.5px;


    .name {
        color: #011728;
        font-weight: 400;
    }

    .dark-blue {
        color: #0d74af;
    }


    @media only screen and (max-width: 414px) and (min-width: 300px) {

            
            margin: 100px auto 30px auto;
            font-size: 40px;
            line-height: 40px;   
            padding-left: 20px; 
            }

}
hr {
    margin: 20px 0px 20px 0px;
    opacity: 0.1;
    background-color: #181d20;
}

ul {
    max-width: 950px;
    list-style-type: none;
    margin: 0% auto 0% auto;
    padding: 0;
    overflow: hidden;

    font-family: "bebas-neue-by-fontfabric";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #273B49;
    li {
        float: left;
        padding-left: 0;
        padding-right: 60px;

        
    }
    li a {
        display: block;
        text-align: center;
        color: #273B49;
        text-decoration: none;
    }
    a:hover {
        opacity: 0.5;
        
    }

    a:active {
        cursor: default;
        font-weight: 300;
    }


    @media only screen and (max-width: 414px) and (min-width: 300px) {

            
            padding-left: 20px; 
            }
}
.page {
    .cardlist {


        max-width: 950px;
        margin-right: auto;
        margin-left: auto;
        color: #fff;
        padding-top: 20px;

        .card {
            cursor: pointer;
            float: left;
            width: 261px;            
            height: 450px;
            margin: 0px 15px 15px 0px;

            padding: 20px;
            position: relative;
            display: block;
            background-size: 100%;


            @media only screen and (max-width: 414px) and (min-width: 300px) {

            
            margin-right: auto;
            margin-left: auto;

            width: 80%;
            max-height: 450px;

            }

            .logo {
                // background-color: #ff6352;
                
                width: 100px;
                height:auto;
                margin-top: 7%;
            }


            .title {
                //background-color: #345742;
                font-family: 'bebas-neue-by-fontfabric';
                max-width: 300px;
                font-weight: 200;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 2.1px;
            }
            
            .description {
                //background-color: #675628; 

                padding-top: 0px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                line-height: 18px;
                font-size: 14px;
                letter-spacing: .5px;

            }
            .description2 {
                font-family: 'Open Sans', sans-serif;
                line-height: normal;
                letter-spacing: normal;
                font-size: 16px;
                margin-top: 2px;
                font-weight: 300;

            }
            .category {
                font-family: 'Open Sans', sans-serif;
                line-height: 1.43;
                letter-spacing: normal;
                position: absolute;
                bottom: 0;
                padding-bottom: 1.5em;
                font-size: 14px;
                line-height: 1.43;
                font-weight: 100;
            }    
        }
    }

    .card:hover{
        opacity: 0.95;
    }
}





