.body {
    max-width: 1124px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    top: 90px;

    a:link {
        color: #273B49;
        text-decoration: none;
    }

a:visited {
    color: #273B49;
}

/* mouse over link */
a:hover {
    color: #0D74AF;
}

/* selected link */
a:active {
    color: #273B49;
}

                

.logo {
                width : 122px;
                height: auto;
            }


    .header {
        color: #fff;
        min-height: 370px;
        position: relative;
        background-size: 100%;
        max-width: 1124px;
        bottom: 0;
        


        
        .wrapper {
            
            width: 780px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;


            @media only screen and (max-width: 414px) and (min-width:320px) {
                    max-width: 350px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

                 max-width: 650px;

            }
            
            
            .title {
                max-width: 600px;
                margin-top: 0;
                margin-bottom: 0;
        
                font-family: 'bebas-neue-by-fontfabric', sans-serif;
                font-weight: 200;
                font-size: 48px;
                letter-spacing: 1.5px;
                line-height: 51px;
        
                
                
        

        
            }
            .description {
                max-width: 780px;
                margin-bottom: 40px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                line-height: 26px;
                letter-spacing: .2px;
                font-size: 16px;
        
                
            } 
        }
    }
    
    
    
    .section {

        .section2 {
            //background-color: #345345;
            max-width: 780px;
            margin: 0 auto;
            
            font-family: 'capitolina', serif;
            font-style: normal;
            font-weight: 100;
            color: #273B49;
            font-size: 19px;
            line-height: 32px;
            padding-bottom: 30px;
            padding-top: 30px;
            

            @media only screen and (max-width: 414px) and (min-width:320px) {
                    max-width: 90%;
                    padding-bottom: 10px;
                    padding-top: 10px;

                }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

                    max-width: 650px;

            }

            .title {
                //background-color: #345754;
                font-family: 'bebas-neue-by-fontfabric', sans-serif;
                font-weight: 300;
                font-size: 30px;
                letter-spacing: 2px;
                color: #273B49;
            }
    
            .description {
                background-color: #fff456;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5px;
                font-size: 50px;
            }
            .imageTitle {
                max-width: 600px;
                margin-right: auto;
                margin-left: auto;
                font-family: 'capitolina', sans-serif;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: normal;
                color: #273B49;
                //background-color: #444;
                line-height: 14px;
            }
            .imageDesc {
                max-width: 600px;
                margin-right: auto;
                margin-left: auto;
                padding-bottom: 20px;
                font-family: 'capitolina', sans-serif;
                font-size: 18px;
                line-height: 26px;
                color: #363636;
                font-weight: 300;
                letter-spacing: normal;
                
            }
            img {
                width:100%;
                height:100%;
                object-fit: cover;
                overflow: hidden;
                padding-top: 20px;
            }
            .warning {
                text-align: center;
            }
            .link {
                text-align: center;
            }
            .input {
                //background-color: #346745;
                text-align: center;
                input:focus::-webkit-input-placeholder {
                color:transparent;
                padding: 0;
                margin: 0;
    }
    
    input:focus:-moz-placeholder { /* Firefox 18- */
       color:transparent; 
    }
    
    input:focus::-moz-placeholder {  /* Firefox 19+ */
       color:transparent; 
    }
    
    input:focus:-ms-input-placeholder {  
       color:transparent;
    }
            .text {
                    text-align: center;
                    font-family: 'capitolina';
                    font-weight: 100;
                    font-size: 20px;
    
                    letter-spacing: 1px;
                    border: solid 1px #979797;
                    color: #363636;  
                    min-width: 350px;
                    min-height: 50px;
                }
            }
            .unlock {
                text-align: center;

                .unlockbutton {
                    margin: auto;
                    font-family: 'bebas-neue-by-fontfabric';
                    font-size: 20px;
                    background-color: #273B49;
                    border: none;
                    color: #fff;
                    letter-spacing: 5px;
                    min-width: 352px;
                    min-height: 55px;
                    text-align: center;
                    cursor: pointer;
                }
    
            }
        }
    }
}
