<header></header>
<div class = "body">
  <div class = "header">
      <img *ngIf="card.logo" class = "logo" [src] ="card.logo">
      <h2 class = "title">
          <span *ngIf="card.id==1" [style.color]="'#'+card.highlight">Design</span>
          <span *ngIf="card.id==4" [style.color]="'#'+card.highlight">Ruksak: </span>
          <br>
          <span *ngIf="card.id==5" [style.color]="'#'+card.highlight">Infirmary: </span>
          {{card.detailtitle}}
          <span *ngIf="card.id==2" [style.color]="'#'+card.highlight">Design</span>
          <br>
          {{card.detailtitle2}}
      </h2>
      <p class = "description">{{card.detaildescription}}</p>
  </div>
  <div class = "sections">
    <div class = "section" *ngFor = "let section of list; let i = index" [style.background-color]="'#'+section.bg">
      <div class = "section2" *ngIf = "sectionLocked(section.locked)">
        <div *ngFor = "let key of section.keys" [ngClass] = "getKey(key)">
          <br>
          <div *ngIf="!ifSpecial(key)">{{section[key]}}</div>
          <img *ngIf="getKey(key)=='image'" [src]="section[key]">
          <input id = "password" [(ngModel)]="password" class="text" *ngIf="getKey(key)=='input'" placeholder={{section[key]}}>
          <button class = "unlockbutton" *ngIf="getKey(key)=='unlock'" (click)='checkPassword()'>Unlock</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>