.body {
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #181d20;
    color: #fff;


    .logo {

        width : 122px;
        height: auto;
        margin-top: 140px;
        margin-left: 172px;
        
    }
    .title {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        font-family: 'Bebas Neue', sans-serif;
        font-weight: regular;
        font-size: 48px;
        letter-spacing: 1.5px;
        line-height: 51px;

        @media only screen and (max-width: 600px) and (min-width: 400px) {

            max-width: 350px;
            }

    }
    .description {
        max-width: 780px;
        margin: auto;
        padding-bottom: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        line-height: 26px;
        letter-spacing: normal;
        font-size: 16px;

        @media only screen and (max-width: 600px) and (min-width: 400px) {

            max-width: 350px;
            }
    }
}
.section {
    max-width: 780px;

    @media only screen and (max-width: 600px) and (min-width: 400px) {
    max-width: 350px;
            }

    margin-left: auto;
    margin-right: auto;

    font-family: 'Calluna-Light', sans-serif;
    color: #444;
    font-size: 20px;
    line-height: 32px;

    .title {
        font-family: 'Open Sans', sans-serif;
        font-size: 21px;
        font-weight: bold;
    }
    .description {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.5px;
        font-size: 50px;
    }
    .imageTitle {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: semibold;
        letter-spacing: normal;
        color: #5c5c5c;
    }
    .imageDesc {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: light;
        color: #5c5c5c;
        letter-spacing: normal;
    }
    img {
        width:100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
    }
    .warning {
        text-align: center;
    }
    .input {
        text-align: center;
        .text {
            text-align: center;
            font-family: Bebas Neue;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 5px;
            border: solid 1px #979797;
            color: #363636;
            
            padding: .7em;
            width: 41.5%;
        }
    }
    .unlock {
        text-align: center;
        margin-bottom: 150px;

        .unlockbutton {
            font-family: Bebas Neue;
            font-size: 20px;
            background-color: #808B93;
            border: none;
            padding: .9em;
            color: #fff;
            letter-spacing: 5px;
            width: 45%;
        }

    }
}
