<header><style>
  @import url("https://use.typekit.net/tiv2ytf.css");
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118035245-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118035245-1');
</script>


</header>


<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7J4H8K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript></body>

<div class = "body">
<h1 class = "header">
  <span class="name">Hey There,</span> <br>I'm Dan.
</h1>
  <div class = "sections">
    <div class = "section">
      Feeling frustrated and powerless against my bank account after college, I joined Capital One to do something about it. Today my design decisions impact every prospective customer that steps through Capital One’s doors.
     
      <br><br>
      In June 2017, I traveled with a few designers for a trip to a conference in Amsterdam. I've always been aware that good design can bring big impacts, but my trip to Amsterdam showed me the extent of it's value. Through good design, we can diverge traffic flow, increase usage of public transportation, and contribute to change the course of climate change. 

      <br><br>
      This year, I plan on visiting cities like Seoul, Tokyo, and Hong Kong to learn how different UX (and good food) can be outside of the United States. 
    </div>

    <div class = "section">
      <a href="http://daniel-zhu.com/assets/Resume.pdf" target="_blank">...</a><br>
      You can find me on <a href="https://www.linkedin.com/in/danzhuu" target="_blank">linkedin</a>,<br>
      or email me directly at danzhuu@gmail.com.
    </div>


      <div class = "testimonials">
      <img src="/assets/about/Thang.svg" alt="Thang Truong">
      <br><br>
      "Dan is very creative, resourceful, and extremely results-driven. Looking back to our deliverables and results in 2017, I am still very impressed with his contributions. Without him, we would not have been able to deliver a staggering 25% conversion rate improvement with new features and several A/B experiments.
      <br><br>
      Last but not least, Dan is a great team player. Given the hierarchy and heavily matrix organization at large corporations like Capital One, one has to be able to navigate and influence different stakeholders and teams in the organization to make things happen. Dan uses his charms, people understanding, hard working, and willingness to go extra miles, to deliver."
      
    </div>


      <div class = "testimonials">
      <img src="/assets/about/ShawnRoe.svg" alt="Shawn Roe">
      <br><br>
      "Dan is a talented product designer with a constant eye to the future. He thinks big picture and small details equally. His designs are clean, well-thought-out and pixel-perfect. Collaborating to brainstorm a problem, he’ll always come from a human-centered perspective and uses design thinking to understand the problem, the user, the constraints and multiple solutions.
      <br><br>
      As a content strategist, I’ve worked with Dan on multiple projects resulting in millions of dollars in increased revenue (through better design). It’s been a pleasure to work with such a star designer and actually ship better products. Our working sessions are always ridiculously productive, in part because he’s so smart and can tweak pixel-perfect designs in Sketch as we work through the problems together."
      
    </div>

    
    
    <div class = "section">
      <h1 class = "title">Professional Experiences</h1>
      <a href="http://daniel-zhu.com/assets/Resume.pdf" target="_blank">...</a><br>
      <div class = "description"><strong>Capital One</strong> | July 2016 - Present<br>
      Working on the new customer experience for consumer bank.<br>
      </div>

      <br>

      <div class = "description"><strong>Dramafever (Warner Bros. Digital Labs)</strong> | June - August 2015<br>
      Worked on getting people addicted to kpop, korean dramas, horror movies, and documentaries 
      through great UX. <br></div><br>


      <div class = "description"><strong>MCD Partners</strong> | June - August 2014<br>
      Created wireframes and flows for clients such as Discover & Samsung.</div>     
      
  
      <br>

      <div class = "description"><strong>MUJI, SOHO</strong> | August 2011 - March 2012<br>
      Learned to empathize with those standing behind the counter.<br></div><br>

      </div>

      <div class = "testimonials">
      <img src="/assets/about/DaveYoon.svg" alt="David Yoon">
      <br><br>
      "I’ve been excited to watch how Dan’s career would play out ever since our first interview to bring him on as a summer intern. He’s intuitively shown a knack for balancing things that are conventionally difficult to balance; he has strong opinions but keeps an open mind, works quickly but sweats the details and works well on his own but also in groups. Most importantly, he continues to push and challenge himself to grow as a designer rather than allowing comfort or convenience to set in.
      <br><br>
      I’m proud of all that Dan’s accomplished thus far and have no doubt that he has much more greatness ahead."
      
    </div>

    <div class = "center">
      

    </div> 
    <br><br><br><br><br><br>
  </div>
</div>
<footer></footer>
