<header><style>
  @import url("https://use.typekit.net/tiv2ytf.css");
</style>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K7J4H8K');</script>
</header>


<body><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7J4H8K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript></body>

<div class = "body">
  <h1 class = "header">
    <span class="name">Dan Zhu</span><br> 
    is an interaction and<br>
    product designer  <span class="dark-blue">@ Capital One</span>
  </h1>
  <div class = "sections">
    <div class = "section">
      Passionate and heavily motivated, I wanted to make big impacts as soon as I finished design school at <a href="https://cias.rit.edu/schools/design/undergraduate-new-media-design" target="_blank">Rochester Institute of Technology</a>. Today my design decisions impacts every prospective customer that steps through Capital One’s doors.
    </div>
    <div class = "section">
      Find me on <a href="https://www.linkedin.com/in/danzhuu" target="_blank">linkedin</a>,<br>
      or email me directly at danzhuu@gmail.com.
    </div>
    <div class = "testimonials">
      <img src="/assets/about/DaveYoon.svg" alt="David Yoon">
      <br><br>
      "I’ve been excited to watch how Dan’s career would play out ever since our first interview to bring him on as a summer intern. He’s intuitively shown a knack for balancing things that are conventionally difficult to balance; he has strong opinions but keeps an open mind, works quickly but sweats the details and works well on his own but also in groups. Most importantly, he continues to push and challenge himself to grow as a designer rather than allowing comfort or convenience to set in.
      <br><br>
      I’m proud of all that Dan’s accomplished thus far and have no doubt that he has much more greatness ahead."
      
    </div>

    <div class = "testimonials">
      <img src="/assets/about/ShawnRoe.svg" alt="Shawn Roe">
      <br><br>
      "Dan is a talented product designer with a constant eye to the future. He thinks big picture and small details equally. His designs are clean, well-thought-out and pixel-perfect. Collaborating to brainstorm a problem, he’ll always come from a human-centered perspective and uses design thinking to understand the problem, the user, the constraints and multiple solutions.
      <br><br>
      As a content strategist, I’ve worked with Dan on multiple projects resulting in millions of dollars in increased revenue (through better design). It’s been a pleasure to work with such a star designer and actually ship better products. Our working sessions are always ridiculously productive, in part because he’s so smart and can tweak pixel-perfect designs in Sketch as we work through the problems together."
      
    </div>
    

<!--
    
    <div class = "section">
      <h1 class = "title">I'm Adventurous</h1>
      <div class = "description">My friends told me I was being weird, but something about traveling by myself in a foreign country with an unfamiliar language intrigued me.</div><br>
      <div class = "description">In June 2017, after a few days in Iceland, a conference in Amsterdam, and a few days in London, I split from my group and spent a week by myself in Prague hiking up castles and people watching.</div><br>
      <div class = "description">And of course, I cheated with Google Maps.</div><br>
    </div>
    <br>
    <div class = "center">
      

    </div> <!-->
    <br><br><br><br><br><br>
  </div>
</div>
<footer></footer>
