header {
    margin-top: -30px;
}



.body {
    max-width: 1124px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    top: 190px;
    font-family: 'bebas-neue-by-fontfabric';
    font-size: 30px;
    line-height: normal;
    .header {
        font-weight: 300;
        letter-spacing: 1.5px;
        .name {
            color: #011728;
            font-weight: 400;
        }
        .dark-blue {
            color: #0d74af;
        }
    }


    .testimonials{
        padding: 40px 30px;
        max-width: 850px;
        margin-bottom: 60px;

        font-family: 'capitolina', serif;
        font-style: normal;
        font-weight: 100;
        font-size: 19px;
        line-height: 27px;
        


        background-color: #F5F5F5;
    }

    @media only screen and (max-width: 414px) and (min-width: 300px) {
            margin: 100px auto 30px auto;
            font-size: 40px;
            line-height: 40px;   
            padding-left: 20px; 
    }
    
    .section {
        position: relative;
        //background-color: #345345;
        max-width: 780px;
        font-family: 'capitolina', serif;
        font-style: normal;
        font-weight: 100;
        color: #273B49;
        font-size: 19px;
        line-height: 32px;
        padding-bottom: 60px;

        /* unvisited link */
        a:link {
            color: #0d74af;
            text-decoration: none;
        }

        /* visited link */
        a:visited {
            color: #0d74af;
        }

        /* mouse over link */
        a:hover {
            color: #0d74af;
        }

        /* selected link */
        a:active {
            color: #0d74af;
        }

        

        .title {
            //background-color: #345754;
            font-family: 'bebas-neue-by-fontfabric';
            font-weight: 300;
            font-size: 30px;
            letter-spacing: 2px;
            color: #273B49;
        }

        .information {
            background-color: #fff456;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5px;
            font-size: 50px;
        }
        .imageTitle {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: normal;
            color: #5c5c5c;
            //background-color: #444;
            line-height: 18px;
        }
    }
    .center {
        text-align: center;
        font-family: 'bebas-neue-by-fontfabric', sans-serif;

    }
}
