<header><style>
  @import url("https://use.typekit.net/tiv2ytf.css");
</style></header>
<div class = "body">
  <h1 class = "header">
    <span class="name">Dan Zhu</span><br> 
    is an interaction and<br>
    product designer  <span class="dark-blue">@ Capital One</span>
  </h1>
  <div class = "sections">
    <div class = "section">
      Passionate and heavily motivated, I wanted to make big impacts as soon as I finished design school at <a href="https://cias.rit.edu/schools/design/undergraduate-new-media-design" target="_blank">Rochester Institute of Technology</a>. Today my design decisions impacts every prospective customer that steps through Capital One’s doors.
    </div>
    <div class = "section">
      Find me on <a href="https://www.linkedin.com/in/danzhuu" target="_blank">linkedin</a>,<br>
      or email me directly at danzhuu@gmail.com.
    </div>
    <div class = "testimonials">
      <img src="/assets/about/DaveYoon.svg" alt="David Yoon">
      <br><br>
      "He’s intuitively shown a knack for balancing things that are conventionally difficult to balance; he has strong opinions but keeps an open mind, works quickly but sweats the details and works well on his own but also in groups.
      <br><br>
      Most importantly, he continues to push and challenge himself to grow as a designer rather than allowing comfort or convenience to set in."
      
    </div>
    

    
    <div class = "section">
      <h1 class = "title">I'm Adventurous</h1>
      <div class = "description">My friends told me I was being weird, but something about traveling by myself in a foreign country with an unfamiliar language intrigued me.</div><br>
      <div class = "description">In June 2017, after a few days in Iceland, a conference in Amsterdam, and a few days in London, I split from my group and spent a week by myself in Prague hiking up castles and people watching.</div><br>
      <div class = "description">And of course, I cheated with Google Maps.</div><br>
    </div>
    <br>
    <div class = "center">
      <h1 class = "header">
        Thanks for dropping by
      </h1>
      <div class = "section"> danzhuu@gmail.com</div>
    </div>
    <br><br><br><br><br><br>
  </div>
</div>
<footer></footer>
