.body {
    margin: 0 11%;
}

.header {
    background-color: #181d20;
    padding: 2% 10%;
    color: #fff;
    padding-top: 10%;
    .logo {
        width : auto;
        height:40px;
        margin-top: 7%;
        margin-bottom: -10%;
    }
    .title {
        font-size: 3em;
        letter-spacing: 1.5px;
        line-height: 51px;
    }
    .description {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.44;
        letter-spacing: normal;
        font-size: 1em;
    }
}
.section {
    line-height: normal;
    font-family: 'capitalina', sans-serif;
    padding: 2% 10% 4%;
    .title {
        font-weight: bold;
    }
    .description {
        font-family: Calluna;
        line-height: 1.5px;
    }
    .imageTitle {
        font-size: .7em;
        font-weight: bold;
        letter-spacing: normal;
    }
    .imageDesc {
        font-size: .7em;
        font-weight: normal;
        letter-spacing: normal;
    }
    img {
        width:100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
    }
    .warning {
        text-align: center;
    }
    .input {
        text-align: center;
        .text {
            text-align: center;
            font-family: 'Bebas Neue';
            font-size: 1.25em;
            line-height: 30px;
            letter-spacing: 5px;
            opacity: 0.5;
            color: #363636;
            border: solid 1px #979797;
            padding: .7em;
            width: 41.5%;
        }
    }
    .unlock {
        text-align: center;
        .unlockbutton {
            font-family: BebasNeue;
            font-size: 1.25em;
            background-color: #011728;
            padding: .9em;
            color: #fff;
            letter-spacing: 5px;
            width: 45%;
        }
    }
}