/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@font-face {
    font-family: 'Bebas Neue';
    src: url("https://use.typekit.net/tiv2ytf.css"),
}

@font-face {
    font-family: 'capitolina', serif;
    font-style: normal;
    src: url("https://use.typekit.net/tiv2ytf.css"),

}

@font-face {
    font-family: 'rucksack', sans-serif;
    font-style: normal;
    src: url("https://use.typekit.net/tiv2ytf.css"),

}


@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans"),

}


body {
    font-family: 'Bebas Neue';
    font-weight: normal;
    line-height: 35px;
}